@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  font-weight: 500;
}

label {
  text-transform: uppercase;
  @apply text-xs
  /* display: block; */;
}

input {
  @apply py-2 px-4 border  rounded-md my-2;
}

.bg-img {
  background-image: url(../src/img/bg-main-desktop.png);
}

.bg-front-card {
  background-image: url(../src/img/bg-card-front.png);
}

.bg-back-card{
  background-image: url(../src/img/bg-card-back.png);
}

#card p{
  text-transform: uppercase ;
  @apply text-sm
}

.complete h1{
  text-transform: uppercase;
}